<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper">
	<select parameterType="map" id="getTipoItem" resultMap="TipoItemResult">         
    	SELECT 
    		ti.id as tipo_item_id, 
    		ti.descripcion as tipo_item_descripcion
		FROM VI_TIPOITEM AS ti, VI_ITEMS AS i
		WHERE i.id = #{iditem} AND i.TIPOITEM_id = ti.id
    </select>
    
	<select parameterType="map" id="getTiposItems" resultMap="TipoItemResult">
        SELECT      
        	ti.id AS tipo_item_id,
			ti.descripcion AS tipo_item_descripcion
        FROM VI_TIPOITEM AS ti
    </select>
    <resultMap type='TipoItem' id='TipoItemResult'>
		<id property='id' column='tipo_item_id'/>
		<result property='descripcion' column='tipo_item_descripcion'/> 
	</resultMap>
    

                
</mapper>